
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* HEADER */

.header-conteiner{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(41, 39, 39);
}

.header-image{
    width: 60px;
    display: flex;
}
.header-text{
    color: white;
}
.header-link a{
    color: white;
    text-decoration: none;
}
.h3-section{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(65, 65, 65);
}
/* main */
.programs-contains {
    display: flex;
    justify-content: center;
    height: 30em;
}
.programs{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap     ;
    align-content: space-around;
    width: 40%;

}
.programs div{
    text-align: center;
    color: rgb(65, 65, 65);
    box-shadow: 5px 10px 18px #888888;
}
/* FOOTER */
.footer-contains{
    display: flex;
    justify-content: center;
}
.footer{
    width: 5%;
    display: flex;
    justify-content: space-between;
}
